<footer>
  <div class="container">
    <hr>

    <section class="footers pt-5 pb-3">
      <div class="container pt-5">
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3 footers-one">
               <div class="footers-logo">
                   <img src="../../../assets/img/logo_otech_full.png" alt="Logo" style="width:120px;">
               </div>
               <div class="footers-info mt-3">
                   <p>Street addresses: 445 Mount Eden Road, Mount Eden, Auckland - Postcodes: 5022</p>
               </div>
               <div class="social-icons">
                 <h6>Nossas Redes</h6>
                   <a href="https://instagram.com/"><i id="social-icons-unit" class="fa fa-instagram fa-2x social"></i></a>
                   <a href="https://linkedin.com/"><i id="social-icons-unit" class="fa fa-linkedin-square  fa-2x social"></i></a>
                   <a href="https://twitter.com/"><i id="social-icons-unit" class="fa fa-twitter-square fa-2x social"></i></a>
             </div>
           </div>
            <div class="col-xs-12 col-sm-6 col-md-3 footers-three">
               <h5>SOBRE NÓS </h5>
               <ul class="list-unstyled">
              <li><a href="#">Perfil</a></li>
              <li><a href="#">Sobre</a></li>
              <li><a href="#">Contato</a></li>
             </ul>
           </div>
            <div class="col-xs-12 col-sm-6 col-md-3 footers-four">
               <h5>Redes Sociais </h5>
               <ul class="list-unstyled">
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">Linked-In</a></li>
             </ul>
           </div>
            <div class="col-xs-12 col-sm-6 col-md-3 footers-five">
               <h5>Contato </h5>
               <ul class="list-unstyled">
              <li><a href="#">FAC</a></li>
              <li><a href="#">Sistema</a></li>
              <li><a href="#">Duvidas</a></li>
             </ul>
           </div>

          </div>
      </div>
    </section>
    <hr/>
    <section class="">
       <div class="container">
           <div class="row">
              <div class="col-md-2 pt-3">
                <p class="text-muted">Contact us</p>
              </div>
               <div class="col-md-3 offset-md-7 pt-3">
                   <p class="text-muted">© 2020 Igor Lisboa</p>
               </div>
           </div>
       </div>
    </section>
  </div>
</footer>
