<footer>
  <div class="container">
    <hr>

    <div class="row">
      <div class="col-md-3 p-5">
        <img src="../../../assets/img/logo_otech_full.png" class="image-style mt-5 mb-5" />
        <div>
          <p>Street addresses: 445 Mount Eden Road, Mount Eden, Auckland - Postcodes: 5022</p>
        </div>
        <div>
          redes sociais
        </div>
      </div>
      <div class="col-md-3 p-5">
        <h3>Sobre nós</h3>
        <p><a href="#">Perfil</a></p>
        <p><a href="#">Sobre</a></p>
        <p><a href="#">Contato</a></p>
      </div>
      <div class="col-md-3 p-5">
        <h3>Sobre nós</h3>
        <p><a href="#">Perfil</a></p>
        <p><a href="#">Sobre</a></p>
        <p><a href="#">Contato</a></p>
      </div>
      <div class="col-md-3 p-5">
        <h3>Sobre nós</h3>
        <p><a href="#">Perfil</a></p>
        <p><a href="#">Sobre</a></p>
        <p><a href="#">Contato</a></p>
      </div>
    </div>


    <!-- <div class="footer-container">

      <div class="item-footer">
        <img src="../../../assets/img/logo_otech_full.png" class="image-style" />
        <div>
          Endereço: asdf asdf asdf asdf adsf asdf asdf asdf asdf asdf
        </div>
        <div>
          redes sociais
        </div>
      </div>
      <div class="item-footer">dddddd</div>
      <div class="item-footer">bbbbb</div>
      <div class="item-footer">iiiii</div>



    </div> -->
    <hr>
    <div>

    </div>
  </div>
</footer>
